transformers==4.43.4
accelerate==0.33.0
gradio==4.40.0
pyannote.audio==3.3.1
python-docx==1.1.2
pandas==2.2.2
python-dotenv==1.0.1
optimum
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.0
torchaudio==2.4.0